/* <weight>: Use a value from 100 to 900
<uniquifier>: Use a unique and descriptive class name */
@import "tailwindcss";

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


:root {
  --background: #171926;
  --foreground: #16bbe8;
  --logoColor : #4DC2A7;
  --textColor : #B0B8EA;
  --borderCard : #777EA8;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.neon-placeholder::placeholder {
  color: #30EDC1;
  opacity: 0;
  transition: opacity 6s ease;
}

input.opacity-100::placeholder {
  opacity: 1;
}

@keyframes glowAppear {
  0% {
    transform: scale(0.96);
    box-shadow: 0 0 0px #30EDC1;
  }

  40% {
    transform: scale(1.02);
    box-shadow: 0 0 30px #30EDC1, 0 0 70px #30EDC1;
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 6px #30EDC1, 0 0 12px #30EDC1;
  }
}

.glow-animate {
  animation: glowAppear 5s ease-out forwards;
}
