/* <weight>: Use a value from 100 to 900
<uniquifier>: Use a unique and descriptive class name */
@import "tailwindcss";

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


:root {
  --background: #171926;
  --foreground: #16bbe8;
  --logoColor : #4DC2A7;
  --textColor : #B0B8EA;
  --borderCard : #777EA8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/* Ciblage spécifique de la barre dans le composant de code */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;   /* Largeur pour le scroll vertical */
  height: 8px;  /* Hauteur pour le scroll horizontal */
  display: block; /* Force l'affichage */
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #30EDC1; /* Ton vert Teal */
  border-radius: 10px;
  border: 2px solid #1a1a1a; /* Pour créer un petit espace propre */
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #44a68f;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes glowAppear {
  0% {
    transform: scale(0.96);
    box-shadow: 0 0 0px #30EDC1;
  }

  40% {
    transform: scale(1.02);
    box-shadow: 0 0 30px #30EDC1, 0 0 70px #30EDC1;
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 6px #30EDC1, 0 0 12px #30EDC1;
  }
}

.glow-animate {
  animation: glowAppear 5s ease-out forwards;
}